<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  
  <style>
    
      .fa,
      .fas {
        font-family: "FontAwesome";
      }
      .new a {
        font-size: 1.1rem;
        color: #343a40;
        margin-top: 15px;
      }

      .new a.cart:hover {
        text-decoration: none;
        color: #d60e96;
       
      }

      .new a.cart .cart-basket {
        font-size: 0.7rem;
        position: absolute;
        top: -17px;
        right: -5px;
        width: 15px;
        height: 15px;
        color: #fff;
        background-color: #418deb;
        border-radius: 50%;
      }
    </style>
</head>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/" style="margin-left: 20px;"><img src="/static/photos/logo2.jpg" height="120px"
            width="98%"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {{!-- <li class="nav-item">
              <a class="btn btn-outline-dark" href="/regis">Link</a>
            </li> --}}
          </ul>
          <form class="d-flex">
            <a class="btn btn-outline-dark" href="/menu" style="margin-right: 10px;">Menu</a>
            
            {{!-- <a class="btn btn-outline-dark" href="/cart" style="margin-right: 10px;"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a> --}}
            
            <div  class="btn btn-outline-dark nav-item px-3 text-uppercase mb-0 position-relative d-lg-flex new" style="margin-right: 10px;">
              
              <a href="/cart"class="cart position-relative d-inline-flex" aria-label="View your shopping cart">
                <i class="fas fa fa-shopping-cart fa-lg"></i>
                {{!-- {{#each data}} --}}
               
                <span class="cart-basket d-flex align-items-center justify-content-center" id="output"> {{count}}</span>
                {{!-- {{/each}}            --}}
              </a>
            </div>

            <a class="btn btn-outline-dark" href="profile" style="margin-right: 10px;">Profile</a>
            <a class="btn btn-outline-dark" href="/logout" style="margin-right: 10px;">Logout</a>
            {{!-- <button class="btn btn-outline-dark" type="submit" href="/login">login</button> --}}
          </form>
        </div>
      </div>
    </nav>
  </div>
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>